section#research
  h2 Research
  .row
    .col
      markdown:
        My research interests lie at the intersection of Markov processes and statistical mechanics. In specific, in the context of interacting particle systems (IPS), my research deals with the application of a type of duality technique to the theory of fluctuations from the hydrodynamic limit.

        It is in this direction of research, and for IPS that enjoy the property of self-duality, that the following contributions have materialized:
  h4 Published Papers
  ul.list-unstyled
    - data.research.published.each_with_index do |published, i|
      li
        |[#{i+1}] <strong>#{published.author}</strong>.
        |&nbsp;#{published.title}
        |&nbsp;#{published.location}
  h4 Submitted
  ul.list-unstyled
    - data.research.submitted.each_with_index do |submitted, i|
      li
      |[#{i+1}] <strong>#{submitted.author}</strong>.
      |&nbsp;#{submitted.title}
      |&nbsp;#{submitted.location}
