section#simulations
   h2 Simulations
   .row
      .col
        markdown:
          Here I present some short videos of simulations of Independent and SIP particles. The goal is to show how in the SIP case particles, a sort of condensation phenomena starts to emerge.
   h4 Independent Particles
          <div class>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5BWwDwXJIpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

   h4 SIP Particles
          <div class>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sg3w1mtSeOU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

   h4 SIP Particles
          <div class>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6VDwK6vw_wI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
